<table>
    <tr>
        <td><label>ID</label></td>
        <td><input autofocus class="form-control" type="number" name="cusid" id="cusid" required value="<%= model.cusid %>" /></td>
        <td>(required)</td>
    </tr>
    <tr>
        <td><label for="cusfname">First Name</label></td>
        <td><input autofocus class="form-control" type="text" name="cusfname" id="cusfname" required value="<%= model.cusfname %>" /></td>
        <td>(required)</td>
    </tr>
    <tr>
        <td><label for="cuslname">Last Name</label></td>
        <td><input autofocus class="form-control" type="text" name="cuslname" id="cuslname" required value="<%= model.cuslname %>" /></td>
        <td>(required)</td>
    </tr>
    <tr>
        <td><label for="cusstate">State</label></td>
        <td><input autofocus class="form-control" type="text" name="cusstate" id="cusstate" maxlength = "2" pattern="[a-zA-Z]{2}" value="<%= model.cusstate %>" /></td>
        
    </tr>
    <tr>
      <td><label for="cussalesytd">Sales YTD</label></td>
      <td><input autofocus class="form-control" type="number" name="cussalesytd" id="cussalesytd" value="<%= model.cussalesytd %>" /></td>
      
  </tr>
  <tr>
    <td><label for="cussalesprev">Previous Years Sales</label></td>
    <td><input autofocus class="form-control" type="number" name="cussalesprev" id="cussalesprev" value="<%= model.cussalesprev %>" /></td>
    
</tr>
 
</table>


