<label>Select Report</label><br>

<select autofocus name="reports" id="report">
    <option value="LName">All Customers- Sorted by Customer Last Name, First Name</option>
    <option value="sales">All Customers- Sorted by Current Total Sales Decreasing</option>
    <option value="random">Promotional Giveaway (Not Repeating)</option>
</select>


<% if (type === "post") { %>
    <% if (result.result.length === 0) { %>
        <h3>No records found!</h3>
    <% } else { %>
        <table>
          <table class="table table-hover">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>First Name</th>
                    <th>Last Name</th>
                    <th>State</th>
                    <th>Sales YTD</th>
                    <th>Prev Years Sales</th>
                </tr>
            </thead>
            <tbody>
                <% result.result.forEach(customer => { %> 
                    <tr>
                        <td><%= customer.cusid %></td>
                        <td><%= customer.cusfname %></td>
                        <td><%= customer.cuslname %></td>
                        <td><%= customer.cusstate %></td>
                        <td><%= customer.cussalesytd %></td>
                        <td><%= customer.cussalesprev %></td>
                    </tr>
                <% }); %>
            </tbody>
  
        </table>
    <% } %>
  <% } %>